body{
    background-color: #f5f5dd;
}
div{
    margin-bottom: 13px;
    background: #000000;
    width: 160px;
    height: 160px;
}
#square2{
    opacity: 0.7;
}
#square3{
    opacity: 0.5;
}
#square4{
    opacity: 0.3;
}